* {
  box-sizing: border-box;
}

html {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2560 - 320)));
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E2E1E0;
  margin: 0;
  color: #6A6F4F;
}

@font-face {
  font-family: 'NationalPark';
  src: url('fonts/NationalPark-Regular.otf');
  font-weight: normal;
  }
@font-face {
font-family: 'NationalPark';
src: url('fonts/NationalPark-Heavy.otf');
font-weight: bold;
  }
@font-face {
font-family: 'NationalPark-Outline';
src: url('fonts/NationalPark-Outline.otf');
font-weight: regular;
}
@font-face {
font-family: 'NationalPark';
src: url('fonts/NationalPark-Thin.otf');
font-weight: thin;
}

header {
  padding: 1rem;
  text-align: center;
  
  color: white;
  width: 100%;
  background-image: url("img/headerBg.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDD1BC;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 2rem;
}

#js-search-term {
  margin-bottom: 2rem;
  width: 95%;
}

#js-max-results {
  margin-bottom: 2rem;
  width: 95%;
}

.states-select {
  width: 400px;
  margin-bottom: 2rem !important;
}

.submit-btn {
  width: 200px;
  margin-top: 2rem;
}

label {
  text-align: left;
  font-weight: 700;
  margin-bottom:5px;
}

label>span {
  color: #6A6F4F;
  padding: 5px;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #6A6F4F;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #6A6F4F;
  font-size: 1.25rem;
}

h2 a {
  color: inherit;
}

input {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #aaa;
  width: 95%;
  color: #6A6F4F;
  font-weight: 600;
}

input::placeholder {
  color: 	darkgray;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px !important;
  user-select: none;
  border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  height: auto;
  padding: 5px 10px;
  width: 100%;
  border: 0px solid white;
  color: #6A6F4F;
  font-weight: 600;
  background-color: white;
  padding: 0;
  border-radius: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #6A6F4F !important;
  outline: 0;
}

select {
  padding: 10px !important;
}
.hello {
  padding: 10px !important;
}

form button {
  padding: 15px 5px;
  background-color: #6A6F4F;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

form button:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#js-waiting-message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#results {
  width: 95%;
  margin: 0 auto;
}

#results h2 {
  font-weight: 700;
}

#results ol {
  padding-left: 1rem;
}

#results li {
  margin-top: 3rem;
  color:#6A6F4F
}

#results a {
  color:#6A6F4F
}

p.no-response-message {
  text-align: center;
}

#results .pagination-btns {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#results button {
  padding: 15px 5px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #E2E1E0;
  color: darkgray;
  margin: 0 .5rem;
}

#results button.active {
  background-color: #6A6F4F;
  color: white; 
}

#results button.active:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container {
  max-width: 960px;
  padding: 2rem 0px 2rem 0px;
  min-height: 100vh;
  margin: 0px auto 0px auto;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.error-message {
    color: red;
    text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 640px) {
  header {
    height: 250px;
  }
}


@media only screen and (min-width: 960px) {
  header {
    padding: 1rem;
    text-align: center;
    
    color: white;
    width: 100%;
    background-image: url("img/headerBg.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .container {
    max-width: 960px;
    padding: 50px 0px 50px 0px;
    min-height: 100vh;
    margin: -150px auto 0px auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CDD1BC;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 2rem;
  }
}